@import "../../scss/_variables";

.favourites.pane {
	background: url('#{$image-path}/backgrounds/favourites.jpg');
	background-size: cover;
	.item {
		background: transparent;
	}
	.item-content, .item-divider {
		background: rgba(255,255,255,0.4);
	}

}
