<ion-view title="About">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content class="has-header padding">

        <ion-list class="list card">
            <div class="item item-avatar">
                <img src="img/bluelist_icon.png">
                <h2>Game-Board</h2>
                <h3>SDK v{{version}}</h3>
                <span>{{name}}</span>
            </div>

            <div class="item item-body">
                <div class="logo">
                    <img class="ionic-logo" src="img/call-of-duty-ghosts.jpg">
                </div>
                <p>Video Game listing service to help work out who is the best of the best
                </p>
            </div>

        </ion-list>



        <ion-list>


            <a class="item item-icon-left" nav-clear menu-close href="#/board/videos">
                <i class="icon ion-videocamera"></i>
                Company
                <span class="badge badge-positive">4</span>
            </a>

            <a class="item item-icon-left" nav-clear menu-close href="#/intro">
                <i class="icon ion-videocamera"></i>
                Intro
                <span class="badge badge-positive">4</span>
            </a>


            <a class="item item-icon-left" nav-clear menu-close href="#/board/videos">
                <i class="icon ion-videocamera"></i>
                Terms
                <span class="badge badge-positive">4</span>
            </a>

            <a class="item item-icon-left" nav-clear menu-close href="#/board/videos">
                <i class="icon ion-videocamera"></i>
                Privacy
                <span class="badge badge-positive">4</span>
            </a>

            <a class="item item-icon-left" nav-clear menu-close href="#/board/videos">
                <i class="icon ion-videocamera"></i>
                Contact
                <span class="badge badge-positive">4</span>
            </a>


            <ion-list>

    </ion-content>
</ion-view>
