<ion-pane class="modal">

    <!-- Modal header bar -->
    <header class="bar bar-header bar-secondary">
        <h1 class="title">Add Video</h1>
        <button class="button button-clear button-positive" ng-click="closeAddVideo()">Cancel</button>
    </header>

    <!-- Modal content area -->
    <ion-content class="has-header">

        <form ng-submit="createItem(item)">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="What is your item?" ng-model="item.name">
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">Create Item</button>
            </div>
        </form>

    </ion-content>

</ion-pane>
