<ion-pane class="modal">

    <!-- Modal header bar -->
    <header class="bar bar-header bar-secondary">
        <h1 class="title">Add Video</h1>
        <button class="button button-clear button-positive" ng-click="closeVideo()">Cancel</button>
    </header>

    <!-- Modal content area -->
    <ion-content class="has-header">

        <ion-nav-bar class="bar bar-header bar-dark nav-title-slide-ios7">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-chevron-left"></i>Back
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="videoContent" animation="slide-left-right">




        </ion-nav-view>

    </ion-content>

</ion-pane>


