<ion-view title="Bookmarks">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content class="has-header">

        <ion-refresher pulling-text="Pull to refresh..." on-refresh="onRefresh();">
        </ion-refresher>

        <div class="list-error card assertive-bg hidden" ng-show="!videos">
            <div class="item item-text-wrap">
                Cannot retrieve your bookmarks at this time
            </div>
        </div>

        <div class="item item-divider" ng-show="bookmarks">
            Your Bookmarks
        </div>

        <ion-list 
            can-delete="true" 
            can-swipe="true" 
            on-delete="onVideoDelete(video)" 
            show-delete="showDelete" 
            delete-icon="ion-minus-circled" 
            option-buttons="itemButtons" 
            ng-show="bookmarks">

            <ion-item ng-repeat="book in bookmarks" 
                class="item item-bookmark-left item-icon-right" 
                type="item-text-wrap" 
                item="book" 
                ng-click="selectBookmark(book)">

                <div ng-class="book.type"></div>

                <h2>{{book.title}}</h2>
                <h3>{{book.subtitle}}</h2>

                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>
