<ion-view title="Bookmarks">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content class="has-header">

        <ion-refresher pulling-text="Pull to refresh..." on-refresh="onRefresh();">
        </ion-refresher>

        <div class="list-error card assertive-bg hidden" ng-show="!videos">
            <div class="item item-text-wrap">
                Cannot retrieve your bookmarks at this time
            </div>
        </div>

        <div class="item item-divider" ng-show="bookmarks">
            Your Bookmarks
        </div>

        <ion-list 
            can-delete="true" 
            can-swipe="true" 
            on-delete="onVideoDelete(video)" 
            show-delete="showDelete" 
            delete-icon="ion-minus-circled" 
            option-buttons="itemButtons" 
            ng-show="bookmarks">

            <ion-item ng-repeat="book in bookmarks" 
                class="item item-icon-right" 
                type="item-text-wrap" 
                item="book" 
                ng-click="selectBookmark(book)">

                <div style="position:relative;width:25px;height:25px;">

                    <svg xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">

                        <circle cx="15" cy="20" r="15"
                            style="stroke:#006600;
                            stroke-width: .5;
                            fill:{{book.color}}"/>
                        <text x="15" y="22" font-size="16" 
                          text-anchor="middle" alignment-baseline="middle">
                            {{book.tag}}
                        </text>                            
                    </svg>

                </div>

                <h2 style="position:relative;left:40px;top:-15px;">{{book.title}}</h2>
                <h4>{{book.subtitle}}</h4>

                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>
