<ion-view title="Bookmarks" class="bookmarks">

	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
		<button class="button button-clear" ng-click="onShowDelete()">
			<span ng-if="!showDelete">Edit</span>
			<span ng-if="showDelete">Cancel</span>
		</button>
	</ion-nav-buttons>

	<ion-content class="has-header glass-list">

		<ion-refresher ng-show="!nodata" pulling-text="Pull to refresh..." on-refresh="onRefresh();">
		</ion-refresher>


        <div class="list card" ng-show="nodata">

            <div class="item item-body">

                <h2>Adding Bookmarks is easy!</h2>

                <p>
                    As you navigate through Genres, Games and Categories and Boards you can bookmark
                    a specific view to easily return to it later.
                </p>

                <p>
                    Bookmarking allows you to quickly return to a board you might be following or to a specifc game
                    interests you. They are different from Favourites as you Favourite a Board, Video or Member.
                </p>

            </div>

            <a class="item item-icon-left item-dark">
                <i class="icon ion-bookmark"></i>
                Click on the Bookmark icon at save it.
            </a>

        </div>

		<ion-list
				can-swipe="true"
				show-delete="showDelete"
				delete-icon="ion-minus-circled"
				ng-show="bookmarks && !nodata">

			<ion-item ng-repeat="book in bookmarks"
					  class="item item-icon-right"
					  type="item-text-wrap"
					  item="book"
                      ng-click="selectBookmark(book)"
					>

				<div style="position:relative;width:25px;height:25px;">

					<svg xmlns="http://www.w3.org/2000/svg"
						 xmlns:xlink="http://www.w3.org/1999/xlink">

						<circle cx="15" cy="20" r="15"
								style="stroke:#006600;
                            stroke-width: .5;
                            fill:{{book.color}}"/>
						<text x="15" y="22" font-size="16"
							  text-anchor="middle" alignment-baseline="middle">
							{{book.tag}}
						</text>
					</svg>

				</div>

				<h2 style="position:relative;left:40px;top:-15px;">{{book.title}}</h2>
				<h4>{{book.subtitle}}</h4>

				<ion-option-button class="button-info"
								   ng-click="selectBookmark(book)">
					View
				</ion-option-button>

				<ion-option-button class="button-assertive"
								   ng-click="onBookmarkDelete(book)">
					Delete
				</ion-option-button>


				<ion-delete-button class="ion-minus-circled"
								   ng-click="onBookmarkDelete(book)">
				</ion-delete-button>

				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>

		</ion-list>

	</ion-content>
</ion-view>
