<ion-pane class="modal">

    <!-- Modal header bar -->
    <header class="bar bar-header bar-secondary">
        <button class="button button-clear button-assertive" ng-click="close()" ng-show="back">Close</button>
        <h1 class="title">Connection</h1>
    </header>

    <!-- Modal content area -->
    <ion-content class="has-header">

        <div class="card">
		  <div class="item item-text-wrap">
		  	<i class="ion-wifi"></i>
		    There is a problem connecting to game-board
		  </div>
		</div>

    </ion-content>

</ion-pane>
