<ion-pane class="modal">

	<!-- Modal header bar -->
	<header class="bar bar-header bar-secondary bar-dark">

		<h1 class="title">Game-board</h1>
		<button class="button button-clear button-stable" ng-click="cancelWifi()">Cancel</button>
	</header>

	<div class="bar bar-subheader">
		<h2 class="title">Network Issue</h2>
	</div>

	<!-- Modal content area -->
	<ion-content class="has-header has-subheader padding">

		<div class="row">
			<div class="col-25"></div>
			<div class="col-50">
              <span style="font-size:128px">
                  <i class="icon ion-android-wifi"></i>
              </span>
			</div>
			<div class="col-25"></div>
		</div>

		<button class="button button-block button-assertive">
			<p>
				<i class="icon ion-ios7-information"></i>&nbsp
				You need to be connected to a network for some of the services to work, Please re-connect to a network
				to and continue
			</p>
		</button>
	</ion-content>

</ion-pane>
