<ion-view title="{{member.gametag}}">

	<ion-content class="has-header padding">

		<div data-dojo-attach-point="notfound" class="card hidden">
			<div class="item item-text-wrap">
				member not found
			</div>
		</div>

		<div class="list card">

			<div class="item item-thumbnail-left">

				<img ng-src="{{member.avatar}}">

				<h1>{{member.gametag}}</h1>

				<h2>{{member.name}}&nbsp{{member.surname}}</h2>

				<p>{{member.memberSince} | date:'medium' }</p>

				<div class="bigPrize">{{member.prizes}}</div>
				<div class="bigViews">{{member.views}}</div>

			</div>
			<div class="item">
				<p>{{member.bio}}</p>

				<p>
					<a href="#" class="subdued">1 Like</a>
					<a href="#" class="subdued">5 Comments</a>
				</p>
			</div>

			<div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" href="#">
					<i class="icon ion-thumbsup"></i>
					Like
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-chatbox"></i>
					Comment
				</a>
				<a class="tab-item" href="#">
					<i class="icon ion-share"></i>
					Share
				</a>
			</div>

			<div id="videosDivide" class="item item-divider">
				Videos added
				<span class="badge badge-assertive">£0,000</span>
			</div>

			<div class="list">

				<div ng-repeat="video in videos" class="videoItem">
					<a class="video item item-thumbnail-left item-icon-right "
					   href="#/board/video/{{video.uuid}}">
						<div class="Video">
							<img ng-src="{{video.thumb}}" lazyload>
						</div>
						<h2>{{video.title}}</h2>

						<h3>{{video.gameTag}}</h3>

						<p>{{video.description}}</p>
						<span class="badge badge-balanced">{{video.vides}}</span>
						<span class="badge badge-royal">{{video.rank}}</span>

						<i class="icon ion-chevron-right icon-accessory"></i>

					</a>
				</div>
			</div>

		</div>


	</ion-content>
</ion-view>
