<ion-side-menus>

    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar bar-header bar-dark nav-title-slide-ios7">
            <ion-nav-back-button class="button-clear">
                <i class="icon ion-chevron-left"></i>Back
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-dark">
            <h1 class="title">Game-board</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>

                <a class="item item-avatar item-icon-right" nav-clear menu-close href="#/account">
                    <img  class="genre-image genre-image-load" alt="{{user.avatar}}"  ng-src="{{user.avatar}}" lazyload>
                    <h2>{{user.firstname}}</h2>                    
                    <h2>{{user.lastname}}</h2>
                    <p>{{user.gametag}}</p>

                   <span class="unregistered" ng-show="!user.registered">Unregistered</span>
                   <i class="icon ion-chevron-right icon-accessory"></i>

                </a>

                <a ng-show="!user.registered" class="item item-icon-left item-icon-right" nav-clear menu-close href="#/register">
                    <i class="icon ion-ios7-personadd"></i>
                    Please register
                   <i class="icon ion-chevron-right icon-accessory"></i>

                </a>


                <div class="item item-divider item-icon-right">
                </div>

                <a class="item item-icon-left item-icon-right" nav-clear menu-close href="#/board/genres">
                    <i class="icon ion-game-controller-b"></i>
                    Genres

                    <span class="item-note">
                        See the boards
                    </span>

                   <i class="icon ion-chevron-right icon-accessory"></i>

                </a>

                <a class="item item-icon-left item-icon-right" nav-clear menu-close href="#/board/bookmarks">
                    <i class="icon ion-ios7-bookmarks"></i>
                    Bookmarks
                    <span class="item-note">
                        jump to boards
                    </span>

                   <i class="icon ion-chevron-right icon-accessory"></i>

                </a>

                <!--a class="item item-icon-left" menu-close href="#/board/prizes">
                <i class="icon ion-film-marker"></i>
                Prizes
                <span class="badge badge-royal">£12,500</span>
                </a-->

                <a class="item item-icon-left item-icon-right" nav-clear menu-close href="#/board/videos">
                    <i class="icon ion-videocamera"></i>
                    Your Videos
                    <span class="badge badge-positive">{{user.videos}}</span>

                    <span class="item-note">
                        manage your videos
                    </span>

                   <i class="icon ion-chevron-right icon-accessory"></i>

                </a>

                <a class="item item-icon-left item-icon-right" nav-clear menu-close href="#/board/favourites">
                    <i class="icon ion-ios7-bookmarks"></i>
                    Favourites
                    <span class="badge badge-calm">{{user.favourites}}</span>

                    <span class="item-note">
                        access boards
                    </span>

                   <i class="icon ion-chevron-right icon-accessory"></i>

                </a>

                <a class="item item-icon-left item-icon-right" nav-clear menu-close href="#/board/members">
                    <i class="icon ion-person-stalker"></i>
                    Members

                    <span class="item-note">
                        find members
                    </span>

                    <span class="badge badge-balanced">{{members}}</span>
                   <i class="icon ion-chevron-right icon-accessory"></i>

                </a>

                <a class="item item-icon-left item-icon-right" nav-clear menu-close href="#/board/search">
                    <i class="icon ion-ios7-search-strong"></i>
                    Search
                    <span class="item-note">
                        find videos
                    </span>
                   <i class="icon ion-chevron-right icon-accessory"></i>

                </a>

                <div class="item item-divider item-icon-right">
                </div>

                <a class="item item-icon-left item-icon-right" nav-clear menu-close href="#/notifications">
                    <i class="icon ion-flag"></i>
                    Notifications
                   <i class="icon ion-chevron-right icon-accessory"></i>

                </a>

                <a class="item item-icon-left item-icon-right" nav-clear menu-close href="#/board/settings">
                    <i class="icon ion-gear-a"></i>
                    Settings
                   <i class="icon ion-chevron-right icon-accessory"></i>

                </a>


                <a class="item item-icon-left item-icon-right" nav-clear menu-close ng-click="logout();">
                    <i class="icon ion-log-out"></i>
                    Logout
                   <i class="icon ion-chevron-right icon-accessory"></i>

                </a>

                <a class="item item-icon-left item-icon-right" nav-clear menu-close href="#/board/about">
                    <i class="icon ion-ios7-help-outline"></i>
                    About
                   <i class="icon ion-chevron-right icon-accessory"></i>

                </a>


            </ion-list>
        </ion-content>
    </ion-side-menu>

    <ion-side-menu side="right">
        <header class="bar bar-header bar-dark">
            <h1 class="title">Game Stats</h1>
        </header>

        <ion-content class="has-header">
        <p>Display some Game Stats using D3J directives</p>
        <p>Analytics</p>
        </ion-content>


    </ion-side-menu>    
</ion-side-menus>
