<ion-pane>

	<header class="bar bar-header bar-dark">

        <button class="button button-clear button-assertive" ng-click="cancel()">Cancel</button>

		<h1 class="title">Register</h1>

        <button class="button button-clear button-assertive" ng-click="action(member)">{{actionText}}</button>

    </header>

	<ion-content class="has-header">

		<wizard current-step="step" hide-indicators="true">

			<wz-step title="start">


                <div class="list card">

                    <div class="item item-body">

                        <h2>Thank you for using Gameboard!</h2>

                        <p>
                            To make the experience even richer you will need to register.
                        </p>

                        <p>
                            This will enable you to add videos into the boards and then compete in the ranking
                            competitions, this could enable you to win prizes. It will also unlock a whole
                            range of features to make using Gameboard fun for a gamer.
                        </p>

                    </div>

                    <div class="item item-image">
                        <img src="img/call-of-duty-ghosts.jpg">
                    </div>

                    <a class="item item-icon-left assertive">
                        <i class="icon ion-log-in"></i>
                        Click Next to Continue Registration
                    </a>

                </div>

			</wz-step>

			<wz-step title="Personal">

				<div class="list">

					<div class="item item-divider">
						Member
					</div>

					<div class="item item-avatar item-icon-right">
						<img class="genre-image genre-image-load" alt="{{user.avatar}}" ng-src="{{user.avatar}}"
							 lazyload>

						<h2>{{user.firstname}}</h2>

						<h2>{{user.lastname}}</h2>

					</div>

					<div class="item item-divider">
						Game information
					</div>

                    <label class="item item-input">
                        <input ng-model="member.email" value="user.email" type="email" placeholder="email">
                    </label>


                    <label class="item item-input">
						<input ng-model="member.gametag" type="text" placeholder="gametag">
					</label>

                    <fancy-select
                            header-text="Countries"
                            allow-empty='false'
                            value="member.country"
                            text="countries_text_single"
                            items="countries">
                    </fancy-select>

					<label class="item item-input">
						<input ng-model="member.age" type="text" placeholder="age">
					</label>

					<div class="item item-divider">
						Platforms
					</div>

                    <fancy-select
                            header-text="Platforms"
                            allow-empty='false'
                            value="member.platform"
                            text="platforms_text_multiple"
                            items="platforms"
                            multi-select="true"
                            >
                    </fancy-select>

					<div class="item item-divider">
						Address
					</div>

					<label class="item item-input">
						<input ng-model="member.address1" type="text" placeholder="address1">
					</label>
					<label class="item item-input">
						<input ng-model="member.address2" type="text" placeholder="address2">
					</label>
					<label class="item item-input">
						<input ng-model="member.towncity" type="text" placeholder="town/city">
					</label>

					<label class="item item-input">
						<input ng-model="member.postcode" type="text" placeholder="postcode">
					</label>

                    <fancy-select
                            header-text="Countries"
                            allow-empty='false'
                            value="member.address_country"
                            text="countries_text_single"
                            items="countries">
                    </fancy-select>

					<label class="item item-input">
						<input ng-model="member.telephone" type="text" placeholder="telephone">
					</label>

					<div class="item item-divider">
						Declaration
					</div>

					<li class="item  item-toggle">
						<h2>Over 18 ?</h2>
						<label class="toggle toggle-dark">
							<input ng-model="member.over18" type="checkbox" checked="true">

							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</li>

				</div>
			</wz-step>
			<wz-step title="Social">

				<div class="list">

					<div class="item item-divider">
						Member
					</div>

					<div class="item item-avatar item-icon-right">
						<img class="genre-image genre-image-load" alt="{{user.avatar}}" ng-src="{{user.avatar}}"
							 lazyload>

						<h2>{{user.firstname}}</h2>

						<h2>{{user.lastname}}</h2>

					</div>

					<div class="item item-divider">
						Social Notifications
					</div>

                    <div class="item item-body">
                        <p>If you authorise Gameboard to use your social acttions, we can then share your videos
                            with a wider audience. This will increase your ranking and views </p>
                    </div>

					<li class="item item-avatar item-toggle">
						<img src="img/email.png">

						<h2>eMail</h2>
						<p>{{member.email}}</p>
						<label class="toggle toggle-dark">
							<input ng-model="member.email" type="checkbox" checked="">

							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</li>

					<li class="item item-avatar item-toggle">
						<img src="img/twitter.png">

						<h2>Twitter</h2>
						<label class="toggle toggle-dark">

							<input ng-model="member.twitter" type="checkbox" ng-click="authTwitter()">
                            <span ng-show="member.twitterid">@</span><span ng-show="member.twitterid">{{member.twitterid}}</span>

							<div class="track">
								<div class="handle"></div>
							</div>

						</label>
					</li>

					<li class="item item-avatar item-toggle">
						<img src="img/facebook.png">

						<h2>Facebook</h2>
						<label class="toggle toggle-dark" ng-click="authFacebook()">
							<input ng-model="member.facebook" type="checkbox">

							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</li>

					<li class="item item-avatar item-toggle">
						<img src="img/googleplus.png">

						<h2>Google+</h2>
						<label class="toggle toggle-dark">
							<input ng-model="member.googleplus" type="checkbox">

							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</li>

                    <li class="item item-avatar item-toggle">
                        <img src="img/sms.png">

                        <h2>SMS</h2>
                        <label class="toggle toggle-dark">
                            <input ng-model="member.sms" type="checkbox">

                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>


                </div>

			</wz-step>

			<wz-step title="videoFinish">

				<div class="card">

					<div class="item item-thumbnail-left">
						<img src="img/finish.png">

						<h2>{{membervideo.snippet.title}}</h2>

						<p>{{user.gametag}}</p>
					</div>

					<div class="item item-text-wrap">
						You have been registered !
					</div>

				</div>


			</wz-step>

		</wizard>


	</ion-content>
	</ion-view>
