<ion-view title="Search Videos">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content
             start-y="55"
             padding="false"
             has-tabs="false"
             has-header="true"
             >
             
              <div id="search-box" class="bar bar-header item-input-inset">
                <div class="item-input-wrapper">
                  <i class="icon ion-ios7-search placeholder-icon"></i>
                  <input type="search" placeholder="Search" ng-model="data.searchQuery">
                  <i class="clear-search icon ion-ios7-close-empty" ng-click="clearSearch()"></i>
                </div>
                <button class="button button-clear button-positive" ng-click="findVideos()">Find</button>
              </div>

            <div class="card" ng-show="!videos">
              <div class="item item-text-wrap">
                This is a basic Card which contains an item that has wrapping text.
              </div>
            </div>

            <div class="list" ng-show="videos">

                <ion-item 
                    ng-show="members"
                    class="item item-thumbnail-left item-icon-right board-item" 
                    item="member" 
                    ng-href="#/board/video/{{video.uuid}}"
                    can-swipe="true" 
                    collection-repeat="video in videos" 
                    collection-item-width="'100%'"
                    collection-item-height="100">

                    <img ng-src="{{video.ytimage}}" lazyvideo>

                    <h2>{{video.title}}</h2>
                    <h3>{{video.gameTag}}</h2>
                    <p>{{video.description}}</p>

                    <div class="btnFeed">
                        <button ng-class="tweet.userLikedTweet ? 'button button-small button-royal' : 'button button-small button-outline button-balanced'" ng-click="like({{$index}})">
                            {{video.rank}}
                            <i class="ion-ios7-star"></i></a>
                        </button>
                        <button class="button button-small button-balanced button-outline" ng-click="go('/tab/tweet/{{tweet.id}}')">
                            {{video.views}}
                            <i class="ion-chatboxes"></i></a>
                        </button>
                    </div>

                    <i class="icon ion-chevron-right icon-accessory"></i>


                </ion-item>

                <ion-infinite-scroll  
                    class="progress"
                    icon="ion-loading-c"
                    on-infinite="loadMore()"
                    distance="30%">
                </ion-infinite-scroll>

            </div>


        </div>
    </ion-content>

    <div class="bar bar-footer bar-balanced">
        <div class="title">{{number}}</div>
    </div>

</ion-view>
