<ion-view title="Search">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive" ng-click="findVideos()">Find</button>
    </ion-nav-buttons>

     <ion-content class="had-header">

        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search videos">
        </label>

    </ion-content>

    <ion-content class="has-header" style="top:89px;">

            <div class="list">

                <ion-item 
                    ng-show="members"
                    class="item item-thumbnail-left item-icon-right board-item" 
                    item="member" 
                    ng-href="#/board/video/{{video.uuid}}"
                    can-swipe="true" 
                    collection-repeat="video in videos" 
                    collection-item-width="'100%'"
                    collection-item-height="100">

                    <div class="Video">
                        <img ng-src="{{video.thumb}}" lazyvideo>
                    </div>

                    <h2>{{video.title}}</h2>
                    <h3>{{video.gameTag}}</h2>
                        <p>{{video.description}}</p>
                        <span class="badge badge-balanced">{{video.views}}</span>
                        <span class="badge badge-royal">{{video.rank}}</span>
                </ion-item>

                <ion-infinite-scroll  
                    class="progress"
                    icon="ion-loading-c"
                    on-infinite="loadMore()"
                    distance="30%">
                </ion-infinite-scroll>
            </div>


        </div>
    </ion-content>

    <div class="bar bar-footer bar-balanced">
        <div class="title">{{number}}</div>
    </div>

</ion-view>
