<ion-view>

    <ion-content class="signin-backdrop" scroll="false">

        <ul class="cb-slideshow">
            <li><span>Image 01</span><div><h3>First Person</h3></div></li>
            <li><span>Image 02</span><div><h3>Worlds</h3></div></li>
            <li><span>Image 03</span><div><h3>Racing</h3></div></li>
            <li><span>Image 04</span><div><h3>War</h3></div></li>
            <li><span>Image 05</span><div><h3>Platform</h3></div></li>
            <li><span>Image 06</span><div><h3>Future</h3></div></li>
        </ul>
        <div class="container sigon">
            <div class="gblogo">
            </div>

            <div class="strap">
                <h2>Rank your gaming videos</h2>
            </div>

            <div class="signonbutton" ng-click="signon()">
                <img src="img/googlesignon.png">
            </div>

             <div class="release">
                <h3>v0.0.1 Alpha</h3>
            </div>

        </div>

    </ion-content>

</ion-view>
