<ion-view>

    <ion-content class="signin-backdrop" scroll="false">

        <div class="fadein">

            <img id="f1" src="img/signonbd.jpg">
            <img id="f2" src="img/signonbd1.jpg">
            <img id="f3" src="img/signonbd2.jpg">
            <img id="f4" src="img/signonbd3.jpg">
        
        </div>

        <div class="signon">
            <div class="gblogo">
                <h1>Game-board</h1>
            </div>

            <div class="strap">
                <h2>Rank your gaming videos</h2>
            </div>

            <div class="signonbutton" ng-click="signon()">
                <img src="img/googlesignon.png">
            </div>

             <div class="release">
                <h3>v0.0.1 Alpha</h3>
            </div>

        </div>

    </ion-content>
    <div class="bar bar-footer bar-balanced">
  		<div class="title">Advertising...</div>
	</div>

</ion-view>
