<ion-view title="Your Videos">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content class="has-header" on-refresh="onRefresh()">

        <ion-refresher></ion-refresher>

        <div class="list-error card assertive-bg hidden" ng-show="!videos">
            <div class="item item-text-wrap">
                Cannot retrieve your list of videos
            </div>
        </div>

        <ion-list can-delete="true" 
            can-swipe="true" 
            on-delete="onVideoDelete(video)" 
            show-delete="showDelete" 
            delete-icon="ion-minus-circled" 
            option-buttons="itemButtons">

            <div class="item item-avatar">

                <img ng-src="{{member.avatar}}" lazyload>

                <h1>{{member.gametag}}</h1>
                <h2>{{member.name}}&nbsp{{member.surname}}</h2>
                <p>{{member.memberSince}}</p>
                <div class="bigPrize">{{member.prizes}}</div>
                <div class="bigViews">{{member.views}}</div>

            </div>
    
            <div class="item item-divider" ng-show="videos">
                You Videos
                <span class="badge badge-assertive">£12,000</span>
            </div>

            <a  ng-repeat="video in videos | orderBy:'rank'" class="item" type="item-text-wrap" item="video" href="#/board/video/{{video.uuid}}">

                <div class="Video">
                    <img ng-src="{{video.thumb}}" lazyvideo>
                </div>

                <h2>{{video.title}}</h2>
                <h3>{{video.gameTag}}</h2>
                    <p>{{video.description}}</p>
                    <span class="badge badge-balanced">{{video.views}}</span>
                    <span class="badge badge-royal">{{video.rank}}</span>

            </a>

        </ion-list>

    </ion-content>
</ion-view>
