<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.flurry.sdk"
	version="5.4.0">
      
    <name>Flurry Analytics and Ads SDK</name>
	<description>Flurry SDK only, as dependency of other plugins</description>
	<keywords>flurry,sdk</keywords>

	<engines>
	    <engine name="cordova" version=">=3.0" />
	</engines>

    <!-- android -->
    <platform name="android">
		<dependency id="com.google.playservices@19.0.0"/>
	    <dependency id="android.support.v4"/>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="com.flurry.android.FlurryFullscreenTakeoverActivity" 
				android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize">
			</activity>
			</config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET"/>
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    		<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
          </config-file>
          
        <source-file src="src/android/FlurryAds-4.2.0.jar" target-dir="libs" />
        <source-file src="src/android/FlurryAnalytics-4.2.0.jar" target-dir="libs" />
     </platform>
 
     <!-- ios -->
     <platform name="ios">    
         
         <header-file src="src/ios/Flurry.h" />
         <header-file src="src/ios/FlurryAds.h" />
         <header-file src="src/ios/FlurryAdDelegate.h" />
         <source-file src="src/ios/libFlurry_5.4.0.a" framework="true" />
         <source-file src="src/ios/libFlurryAds_5.4.0.a" framework="true" />
         
         <framework src="AdSupport.framework" />
         <framework src="CoreGraphics.framework" />
         <framework src="Foundation.framework" />
         <framework src="MediaPlayer.framework" />
         <framework src="Security.framework" />
         <framework src="StoreKit.framework" />
         <framework src="MessageUI.framework" />
         <framework src="SystemConfiguration.framework" />
         <framework src="UIKit.framework" />
         <framework src="libz.dylib" />
	</platform>
     
</plugin>
