.favourites.pane {
	background: url(../img/favouritesBack.jpg);
	background-size: cover;
	.item {
		background: transparent;
	}
	.item-content, .item-divider {
		background: rgba(255,255,255,0.4);
	}

}
