# IOS and Android Platforms
platforms/
engine/
plugins/**

# Keep these files
!plugins/android.json
!plugins/ios.json

# Bower
www/components/**
www/lib/**
www/scss/**

# Other
**/.DS_store
**/.DS_STORE

# NPM modules
node_modules/

# Bower modules
vendor/

# IDE Stuff
.idea/
tmp/
