<?xml version='1.0' encoding='utf-8'?>
<widget id="co.gamboard.mobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Gameboard</name>
    <description>
        Add Videos and track the best.
    </description>
    <author email="info@gameboard.com" href="http://game-board.co/">
      Game-board Ltd
    </author>
    <content src="index.html" />

    <access origin="https://oauth.io/*"/>
    <access origin="https://google.com/*"/>
    <access origin="*" />

    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />

    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
</widget>
