@keyframes strapslidin {
	100% {
		left: 0px;
		opacity: 1;
	}
}

@-webkit-keyframes fadein {

	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes partFadeIn {

	from {
		opacity: 0;
	}
	to {
		opacity: 0.7;
	}
}

/* Animation for the slideshow images */
@keyframes imageAnimation {
	0% {
		opacity: 0;
		animation-timing-function: ease-in;
	}
	8% {
		opacity: 1;
		transform: scale(1.05);
		animation-timing-function: ease-out;
	}
	17% {
		opacity: 1;
		transform: scale(1.1);
	}
	25% {
		opacity: 0;
		transform: scale(1.1);
	}
	100% {
		opacity: 0
	}
}

/* Animation for the title */
@keyframes titleAnimation {
	0% {
		opacity: 0;
		transform: translateY(200px);
	}
	8% {
		opacity: 1;
		transform: translateY(0px);
	}
	17% {
		opacity: 1;
		transform: scale(1);
	}
	19% {
		opacity: 0
	}
	25% {
		opacity: 0;
		transform: scale(10);
	}
	100% {
		opacity: 0
	}
}