.hidden {
	display: none !important;
}

.spinnerSmall:before {
	border: 8px solid red;
	animation: 2s waiting 0s infinite;
	transition: border-radius;
	content: "...";
	text-align: center;
	line-height: 40px;
	font-size: 60px;
	color: #EEEEEE;
	top: 20px;
	left: 20px;
	z-index: 1;
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 0%;
}

.spinner:before {
	border: 8px solid green;
	animation: 2s waiting 0s infinite;
	transition: border-radius;
	content: "...";
	text-align: center;
	line-height: 40px;
	font-size: 60px;
	color: #EEEEEE;
	top: 40px;
	left: 40px;
	z-index: 1;
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 0;
}

@keyframes waiting {
	25% {
		border-radius: 50% 0 0 0;
	}
	50% {
		border-radius: 0 50% 0 0;
	}
	75% {
		border-radius: 0 0 50% 0;
	}
	100% {
		border-radius: 0 0 0 50%;
	}
}

.glass {
	&.button-bar {
		button {
			background: rgba(255,255,255,0.4);
			font-weight: bold;
		}
	}
	&.pane {
		.item {
			background: transparent;
		}
		.item-content, .item-divider, a.item {
			background: rgba(255,255,255,0.4);
		}
	}

}

.dark-glass-background {
	background: rgba(0, 0, 0, 0.6);
}


.slider {
	height: 100%;
}

.slider-slide {
	padding-top: 80px;
	color: #000;
	background-color: #fff;
	text-align: center;
	font-weight: 300;
}

#logo {
	margin: 30px 0px;
}

#list {
	width: 170px;
	margin: 30px auto;
	font-size: 20px;
}

#list ol {
	margin-top: 30px;
}

#list ol li {
	text-align: left;
	list-style: decimal;
	margin: 10px 0px;
}

.nobuttonmargins {
	margin-top: 0px;
	margin-bottom: 0px;
}

.rating {
	margin: 0;
	padding: 0;
	display: inline-block;
	li {
		padding: 1px;
		color: #a9a9a9;
		text-align: center;
		font-weight: bold;
		font-size: 20px;
		list-style-type: none;
		display: inline-block;
		cursor: pointer;
		&.filled {
			color: #fd0; //#21568b
		}
	}
}

.rating a {
	color: #0084e6;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.unregistered {
	color: red;
	font-weight: 600;
	font-size: 16px;
	//font-family: BebasNeueRegular;
}

.registered {
	//font-family: BebasNeueRegular;
	color: red;
	font-weight: 600;
	font-size: 16px;
}

.title {
	//font-family: BebasNeueRegular;
}
