@import "_variables";

.members.pane {
	background: url('#{$image-path}/backgrounds/war.jpg');
	background-size: cover;
}

label.item.has-error {
  border-bottom: 2px solid red;
}

label.item.has-error-lr {
  border-left: 2px solid red;
  border-right: 2px solid red;
}

label.item.valid-lr {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

.form-errors {
  margin: 0px 0
}

.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}