@charset "UTF-8";
.hidden {
  display: none !important; }

.spinnerSmall:before {
  border: 8px solid red;
  -webkit-animation: 2s waiting 0s infinite;
          animation: 2s waiting 0s infinite;
  -webkit-transition: border-radius;
          transition: border-radius;
  content: "...";
  text-align: center;
  line-height: 40px;
  font-size: 60px;
  color: #EEEEEE;
  top: 20px;
  left: 20px;
  z-index: 1;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 0%; }

.spinner:before {
  border: 8px solid green;
  -webkit-animation: 2s waiting 0s infinite;
          animation: 2s waiting 0s infinite;
  -webkit-transition: border-radius;
          transition: border-radius;
  content: "...";
  text-align: center;
  line-height: 40px;
  font-size: 60px;
  color: #EEEEEE;
  top: 40px;
  left: 40px;
  z-index: 1;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 0; }

@-webkit-keyframes waiting {
  25% {
    border-radius: 50% 0 0 0; }

  50% {
    border-radius: 0 50% 0 0; }

  75% {
    border-radius: 0 0 50% 0; }

  100% {
    border-radius: 0 0 0 50%; } }

@keyframes waiting {
  25% {
    border-radius: 50% 0 0 0; }

  50% {
    border-radius: 0 50% 0 0; }

  75% {
    border-radius: 0 0 50% 0; }

  100% {
    border-radius: 0 0 0 50%; } }

.glass.button-bar button {
  background: rgba(255, 255, 255, 0.4);
  font-weight: bold; }
.glass.pane .item {
  background: transparent; }
.glass.pane .item-content, .glass.pane .item-divider {
  background: rgba(255, 255, 255, 0.4); }

@font-face {
  font-family: BebasNeueRegular;
  src: url('fonts/BebasNeue-webfont.eot');
  src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/BebasNeue-webfont.woff') format('woff'), url('fonts/BebasNeue-webfont.ttf') format('truetype'), url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal; }

html, body {
  background: black;
  width: 100%;
  height: 100%; }

.body {
  -webkit-tap-highlight-color: transparent;
  font-weight: 300;
  opacity: 1;
  margin-bottom: 57px; }

/*
.appContainer {
    top: 0;
    bottom: 50px;
    height: auto;
}
*/
/* Reset CSS */
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0; }

.rating {
  margin: 0;
  padding: 0;
  display: inline-block; }
  .rating li {
    padding: 1px;
    color: #a9a9a9;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;
    display: inline-block;
    cursor: pointer; }
    .rating li.filled {
      color: #fd0; }

.rating a {
  color: #0084e6;
  text-decoration: none; }
  .rating a:hover {
    text-decoration: underline; }

.unregistered {
  color: red;
  font-weight: 600;
  font-size: 16px; }

.registered {
  color: red;
  font-weight: 600;
  font-size: 16px; }

.banner {
  height: 100px; }

.spacer {
  height: 150px; }

.sbutton {
  background-image: url('img/googlesignon.png'); }

.gblogo {
  position: relative;
  width: 230px;
  height: 200px;
  background-image: url(../img/gblogo.png);
  left: -10px; }

.container > h2 {
  font-size: 25px;
  color: yellow;
  margin-top: 15px;
  margin-bottom: 30px;
  opacity: 0;
  position: relative;
  left: 2000px;
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  -webkit-animation: strapslidin 3s forwards;
          animation: strapslidin 3s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

@-webkit-keyframes strapslidin {
  100% {
    left: 30px;
    opacity: 1; } }

@keyframes strapslidin {
  100% {
    left: 30px;
    opacity: 1; } }

.release h3 {
  font-size: 12px;
  color: green;
  margin-top: 5px;
  position: relative;
  left: 40px; }

.signonbutton {
  position: relative;
  left: 30px; }

.signonbutton img {
  width: 250px;
  left: 30px; }

.button-stable {
  border-color: #b2b2b2;
  background-color: #f8f8f8; }

.board-background {
  background-color: black; }

.gameBanner img {
  width: 100%;
  height: 160px; }

.Banner {
  width: 100%;
  height: 160px; }

.imageButton {
  position: relative;
  z-index: 0;
  /* prevent flicker after slick image fades */
  -webkit-backface-visibility: hidden; }

.imageButton .slickImage {
  height: 100%;
  width: 100%;
  z-index: -10;
  background-color: transparent; }

.imageButton .summary {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: auto;
  padding: 10px 5px 10px;
  color: white;
  z-index: 10;
  box-sizing: border-box;
  text-align: left; }

.imageButton .summary > * {
  overflow-x: hidden;
  text-overflow: ellipsis; }

.imageButton .title {
  font-weight: normal;
  font-size: 1.5em;
  padding-bottom: 5px; }

.imageButton .subtitle {
  font-size: .75em; }

.imageButton .count {
  font-size: .5em;
  color: green; }

.imageButton .title {
  font-weight: normal; }

.Categories {
  background-color: white; }

.Categories div.prizenew {
  float: right;
  font-size: 28px;
  font-weight: bold;
  color: green;
  position: absolute;
  right: 0;
  top: 15px;
  margin-right: 11px; }

.Categories div.prize {
  font-size: 24px;
  font-weight: bold;
  color: green;
  top: 15px;
  margin-left: 10px; }

.Games {
  background-color: white; }

.Games .GenreButton {
  width: 100%;
  height: 160px; }

.Games .imageButton .title {
  font-weight: normal;
  font-size: 2em;
  padding-bottom: 5px; }

.Games .imageButton .subtitle {
  font-size: 1.25em; }

.Games .Video {
  z-index: -10;
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 80px; }

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative; }

.swipe-wrap {
  overflow: hidden;
  position: relative; }

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative; }

.Categories .banner {
  width: 100%;
  height: 250px; }

div .Favourites .list {
  margin-bottom: 0px; }

.AvatarDetail {
  background-color: transparent;
  top: 10px;
  left: 10px;
  max-width: 250px;
  max-height: 250px;
  width: 100%;
  height: 200px; }

div.bigPrize {
  float: right;
  font-size: 28px;
  font-weight: bold;
  color: green;
  position: absolute;
  right: 0;
  top: 15px;
  margin-right: 14px; }

div.bigViews {
  float: right;
  font-size: 28px;
  font-weight: bold;
  color: purple;
  position: absolute;
  right: 0;
  top: 50px;
  margin-right: 14px; }

.Avatar {
  z-index: -10;
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 80px; }

.Video {
  z-index: -10;
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 80px; }

.VideoSmall {
  z-index: -10;
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 50px; }

.videoItem > a {
  position: relative;
  width: 101%;
  height: 120px; }

.videoItem > .delete {
  position: absolute;
  right: 0;
  width: 100px;
  height: 120px;
  z-index: -2; }

.memberItem > a {
  position: relative;
  width: 101%;
  height: 100px; }

.rank {
  position: absolute;
  left: 10px;
  top: 30%;
  font-size: 44px;
  color: #f08e12; }

.cb-slideshow, .cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  background-color: black; }

.cb-slideshow:after {
  content: '';
  background: transparent url(../img/pattern.png) repeat top left; }

.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 36s linear infinite 0s;
  animation: imageAnimation 36s linear infinite 0s; }

.cb-slideshow li div {
  z-index: 1000;
  position: absolute;
  bottom: 10px;
  left: 40px;
  width: 100%;
  opacity: 0;
  -webkit-animation: titleAnimation 36s linear infinite 0s;
  animation: titleAnimation 36s linear infinite 0s; }

.signInAnimate div {
  z-index: 1500;
  opacity: 0;
  -webkit-animation: fadein 3s forwards;
          animation: fadein 3s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s; }

.cb-slideshow li div h3 {
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  font-size: 240px;
  padding: 0;
  line-height: 200px;
  color: white; }

.cb-slideshow li:nth-child(1) span {
  background-image: url(../img/phone/1.jpg); }

.cb-slideshow li:nth-child(2) span {
  background-image: url(../img/phone/2.jpg);
  -webkit-animation-delay: 6s;
          animation-delay: 6s; }

.cb-slideshow li:nth-child(3) span {
  background-image: url(../img/phone/3.jpg);
  -webkit-animation-delay: 12s;
          animation-delay: 12s; }

.cb-slideshow li:nth-child(4) span {
  background-image: url(../img/phone/4.jpg);
  -webkit-animation-delay: 18s;
          animation-delay: 18s; }

.cb-slideshow li:nth-child(5) span {
  background-image: url(../img/phone/5.jpg);
  -webkit-animation-delay: 24s;
          animation-delay: 24s; }

.cb-slideshow li:nth-child(6) span {
  background-image: url(../img/phone/6.jpg);
  -webkit-animation-delay: 30s;
          animation-delay: 30s; }

.cb-slideshow li:nth-child(2) div {
  -webkit-animation-delay: 6s;
          animation-delay: 6s; }

.cb-slideshow li:nth-child(3) div {
  -webkit-animation-delay: 12s;
          animation-delay: 12s; }

.cb-slideshow li:nth-child(4) div {
  -webkit-animation-delay: 18s;
          animation-delay: 18s; }

.cb-slideshow li:nth-child(5) div {
  -webkit-animation-delay: 24s;
          animation-delay: 24s; }

.cb-slideshow li:nth-child(6) div {
  -webkit-animation-delay: 30s;
          animation-delay: 30s; }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }

  8% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }

  17% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

  25% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

  100% {
    opacity: 0; } }
@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }

  8% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }

  17% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

  25% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

  100% {
    opacity: 0; } }

/* Animation for the title */
@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px); }

  8% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }

  17% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }

  19% {
    opacity: 0; }

  25% {
    opacity: 0;
    -webkit-transform: scale(10);
            transform: scale(10); }

  100% {
    opacity: 0; } }
@keyframes titleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px); }

  8% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }

  17% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }

  19% {
    opacity: 0; }

  25% {
    opacity: 0;
    -webkit-transform: scale(10);
            transform: scale(10); }

  100% {
    opacity: 0; } }

/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span {
  opacity: 1; }

@media screen and (max-width: 1140px) {
  .cb-slideshow li div h3 {
    font-size: 100px; } }

@media screen and (max-width: 600px) {
  .cb-slideshow li div h3 {
    font-size: 50px; } }

.container {
  position: relative; }

.board-rank {
  position: absolute;
  left: 25px;
  top: 25px; }

.board-views {
  top: 10px;
  position: relative;
  float: right; }

.board-item {
  left: 0;
  right: 0; }

.item-bookmark-left .item-content {
  padding-left: 50px;
  min-height: 50px; }

.GAME {
  background-color: red;
  width: 25px;
  height: 100%; }

.menu-name {
  color: white; }

.menu-tag {
  color: yellow; }

.btnFeed {
  text-align: right; }

.btnFeed button {
  width: 50px;
  font-size: 15px; }

.item-thin-divider {
  padding: 5px 0;
  border: none;
  background-color: #050505; }

.ion-ios7-list:before {
  content: "\f454"; }

.ion-ios7-list-outline:before {
  content: "\f455"; }

.fancy-select .list {
  margin: -1px 0; }

/* Items */
/* line 13, ../scss/modules/_fancy-select.scss */
.fancy-select-items {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 19, ../scss/modules/_fancy-select.scss */
.fancy-select-items .item {
  overflow: hidden;
  /* Clearfix */ }

/* line 24, ../scss/modules/_fancy-select.scss */
.fancy-select-items label p {
  height: 32px;
  line-height: 32px; }

/* line 29, ../scss/modules/_fancy-select.scss */
.fancy-select-icon {
  float: left;
  margin-right: 10px;
  width: 30px;
  text-align: center; }

.main-menu .item-avatar {
  background-image: url('../img/matrix.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }

.genresView ion-content {
  background: #000; }
.genresView .imageButton {
  width: 50%;
  max-width: 222px;
  overflow: hidden;
  float: left; }
  .genresView .imageButton a {
    display: block;
    height: 170px; }
.genresView .genre-image {
  width: 100%;
  height: 100%; }
.genresView .genre-image-load {
  opacity: 0; }
.genresView .genre-image-show {
  opacity: 1;
  -webkit-transition: opacity .4s ease-in;
          transition: opacity .4s ease-in; }

/* STOP COPY PASTING STYLES!!! haha */
.favourites.pane {
  background: url('../img/backgrounds/favourites.jpg');
  background-size: cover; }

.bookmarks.pane {
  background: url('../img/backgrounds/space.jpg');
  background-size: cover; }

/* IPHONE IPAD DEVICE MEDIA QUERIES */
/* IPHONE 3 ONLY */
/* IPHONE 4 ONLY */
/* IPAD 1, 2, Mini – Non Retina */
/* IPAD 3, 4, AIR Retina */
