
/* IPHONE IPAD DEVICE MEDIA QUERIES */

/* IPHONE 3 ONLY */
@media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1) {

/* YOUR CUSTOM STYLE */

}

/* IPHONE 4 ONLY */
@media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2) {

/* YOUR CUSTOM STYLE */

}


/* IPAD 1, 2, Mini – Non Retina */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) {

/* YOUR CUSTOM STYLE */

}

/* IPAD 3, 4, AIR Retina */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) {

/* YOUR CUSTOM STYLE */

}

// DEFAULT iPHone 5
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {


}

.hidden {
    display: none
}



.spinner:before {
  border: 8px solid green;
  border-radius: 30px 0 0 0;
  -webkit-animation: 2s waiting 0s infinite;
  transition: border-radius;
    content: "...";
    text-align: center;
    line-height: 40px;
    font-size: 60px;
    color: #EEEEEE;
    top: 40px;
    left: 40px;
    z-index: 1;
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

@-webkit-keyframes waiting {
  0% {
    border-radius: 40px 0 0 0;
  }
  25% {
    border-radius: 0 40px 0 0;
  }
  50% {
    border-radius: 0 0 40px 0;
  }
  75% {
    border-radius: 0 0 0 40px;
  }
}
/*
.spinner:before {
    content: "...";
    text-align: center;
    line-height: 50px;
    font-size: 60px;
    color: #EEEEEE;
    top: 10px;
    left: 10px;
    z-index: 1;
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 1);
}
.spinner:after {
    content: "";
    display: block;
    z-index: 0;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: linear-gradient(420deg, transparent 50%, #CECECE 50%), linear-gradient(90deg, #CECECE 50%, transparent 50%);
    -webkit-animation: spinner 2s infinite linear;
    animation: spinner 2s infinite linear;
}
@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

*/
.slider {
    height: 100%;
}
.slider-slide {
    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
#logo {
    margin: 30px 0px;
}
#list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
}
#list ol {
    margin-top: 30px;
}
#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
}
